name: Mojo Unit Tests

on:
  pull_request:
    branches: [ dev, main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Mojo
        run: |
          python -m pip install --upgrade pip
          pip install mojo==0.26.1

      - name: Install Python Dependencies
        run: |
          pip install librosa numpy matplotlib scipy

      - name: Test Building Mojo Files
        run: |
          python testing/test_build_mojo_files.py

      - name: Make Directories for Results
        run: |
          mkdir -p testing/librosa_results
          mkdir -p testing/mojo_results

      - name: Create Librosa Results for Testing Against
        run: |
          python testing/librosa_results_for_testing_against.py

      - name: Run UnitTests.mojo
        id: run-tests
        run: |
          mojo testing/UnitTests.mojo
